.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 80px 407px 0 175px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 175px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 175px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 307px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-right: 75px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}